_oasis
Easy380.byte
setup.data
setup.log
.vscode/launch.json
.vscode/tasks.json
_build/_digests
_build/_log
_build/myocamlbuild
_build/myocamlbuild.cmi
_build/myocamlbuild.cmx
_build/myocamlbuild.ml
_build/myocamlbuild.o
_build/ocamlc.where
_build/src/Easy380.annot
_build/src/Easy380.byte
_build/src/Easy380.cmi
_build/src/Easy380.cmo
_build/src/Easy380.cmt
_build/src/Easy380.ml
_build/src/Easy380.ml.depends
